.lightbox {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
  }

.lightbox-show {
    display: flex;
}

.is-blurred {
    opacity: 50%;
}

.lightbox-content {
    display: flex;
    margin: 0 10%;
}

.lightbox-content .main-media img {
    width: 100%;
    height: auto;
}

.lightbox-content .main-media {
    flex-grow: 2;
}